* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all ease 0.5s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em 2em;
    position: fixed;
    background: white;
    left: 0; right: 0; top: 0;
    z-index: 100;
}

#logo {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0.25em;
    font-family: "Fugaz One", Arial, Helvetica, sans-serif;
}

#logo img {
    height: 24px;
    cursor: pointer;
}

#toggle {
    display: none;
}

label {
    font-size: 1.5rem;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
}

label:hover {
    transform: scale(1.2);
}

label .fa-xmark {
    display: none;
}

#toggle:checked + label .fa-bars {
    display: none;
}

#toggle:checked + label .fa-xmark {
    display: inline-block;
}

nav {
    padding: 2em;
    height: 75vh;
    width: 100vw;
    position: fixed;
    bottom: 0; left: -100vw;
    background: rgba(0, 0, 0, 0.95);
    color: aliceblue;
    text-align: center;
    transition: all ease-in-out 0.25s;
}

nav a {
    margin: 1.75em 0 0;
    padding: 0 0 0.75em;
    width: 80%;
    border-bottom: 0.1px solid rgba(240, 248, 255, 0.295);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
}

nav a:hover, nav a:focus {
    border-bottom: 2.5px solid rgba(240, 248, 255, 0.671);
    transform: scale(1.1);
    font-weight: 900;
}

#toggle:checked ~ nav {
    left: 0;
}

#hero-section {
    background: rgb(143, 76, 0) url(../images/article-image-hero.png);
    background-size: cover;
    height: 414px;
    color: aliceblue;
    padding: 2em;
    margin: 3em 0 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1em;
}

#hero-section div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

h1 {
    font-size: 2rem;
}

#date {
    font-size: 0.9rem;
    font-weight: light;
}

#hero-section p{
    line-height: 1.5em;
}

#blogs {
    margin: 1.5em;
}

.blog {
    padding: 0.75em 0.75em 1.5em;
    border-bottom: 1px solid black;
    border-radius: 1em;
    margin-top: 1em;
    text-align: left;
    cursor: pointer;
    transition: all ease 0.15s;
}

.blog img {
    width: 100%;
    margin-bottom: 0.5em;
}

.blog-txt {
    display: flex;
    flex-direction: column;
    gap: 0.45em;
}

.blog:hover {
    background: rgba(0, 0, 0, 0.05);
    transform: scale(1.025);
}

#view-more {
    text-decoration: underline;
    font-weight: 900;
    margin-top: 1em;
    text-align: center;
    margin: 0 0 1.5em;
    cursor: pointer;
}

footer {
    background: black;
    color: aliceblue;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (min-width: 760px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5em;
        position: static;
        height: fit-content;
        width: fit-content;
        background: none;
        color: black;
        padding: 0;
        font-size: 1.25rem;
    }

    nav a  {
        margin: 0;
        padding: 0;
        border: none;
        transition: all ease 0.5s;
        display: inline;
        width: initial;
    }

    label {
        display: none;
    }

    #hero-section {
        padding: 4em;
        font-size: 1.25em;
    }

    #hero-section div {
        width: 75%;
    }

    #hero-section p {
        width: 85%;
    }

}

@media (min-width: 850px) {
    #blogs {
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
        gap: 1em;
    }
}

@media (min-width: 1020px) {
    #blogs {
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
        gap: 1em;
    }
}


.hidden {
    display: none;
}